# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development settings
local_settings.py

# If using Celery
celerybeat-schedule
celerybeat.pid

# Static files collected with collectstatic
/staticfiles/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database backups
*.dump

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover